.App {
  text-align: center;
  background-color: black;
}

.footer-link {
  color: #A3956D;
  text-decoration: none;
}
.footer-link:hover {
  color: #4D4D4D;
  text-decoration: none;
}

h1 {
  font-family: 'Fredericka the Great';
  color:#A3956D;
  font-size: 3rem;
}

h3 {
  font-family: 'Avenir Light', sans-serif;
  color: #4D4D4D;
}

.home-about-text {
  font-family: 'Avenir Light', sans-serif;
  color:#ffffff;
  text-align: left;
  font-size: 1.25rem;
}

.photo-credits {
  font-family: 'Avenir Light', sans-serif;
  color: #7d7c7c;
  font-size: 1rem;
}

.photo-credits:a {
  font-family: 'Avenir Light', sans-serif;
  color: #7d7c7c;
  font-size: 1rem;
}

.email {
  font-family: 'Avenir Light', sans-serif;
  color:#A3956D;
}

/* Navigation */
  .navbar {
    background-color: black;
    color: #A3956D
  }
  .nav-link {
    font-family: 'Dosis';
    font-variant: small-caps;
    font-size: 2rem;

  }

  .nav-link:active {
    color: #A3956D
  }

  .nav-link:hover {
    color: #fee7aa
  }

  .nav-container {
    justify-content: center;
  }

/* HomePage */
  .home-page {
    background-color: black;
  }

  .shows p {
    font-family: 'Avenir Light', sans-serif;
    color: #786d4f;
    font-size: 1.5rem;
  }

  .shows h2 {
    font-family: 'Avenir Light', sans-serif;
    color:#A3956D;
    font-size: 2.5rem;    
  }

  .shows h4 {
    font-family: 'Avenir Light', sans-serif;
    color:#A3956D;
    font-size: 1.5rem;    
  }

  .shows h5 {
    font-family: 'Avenir Light', sans-serif;
    color:#786d4f;
    font-size: 1.5rem;    
  }

  .shows hr {
    color:#A3956D;
    width: 85%;
    margin: auto;
  }

  .btn-shows {
    color:#A3956D;
    outline-color: #A3956D;
    background-color: #4D4D4D;
  }

  .btn-shows:hover { 
    background-color: #786d4f;
  }

  .vl {
    border-right: 6px solid white;
    height: 20px;
  }

/* Carousel */
  .carousel-img {
    height: 500px;
    width: 900px;
    object-fit: cover;
  }

  .carousel {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* Footer */
  .footer-text {
    margin-top: 20;
    align-items: 'right';
    font-family: 'Playfair Display';
    color: '#A3956D';
    font-size: 1rem;
  }

/* Show Page */
.show-page {
  background-color: black;
}

.gazebo-photo {
  height: 70%;
  width: 70%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Music Page */
.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 10%;
  left: 40%;
}

.centered h1 {
  font-family: 'Fredericka the Great';
  color:black;
  font-size: 7vw;
}

.album-card {
  width: 20rem;
  margin-top: 60px;
}

.linktree-card {
  width: 20rem;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  border: #786d4f;
}

.linktree-card-text {
  font-family: 'Avenir', sans-serif;
  font-size: 2rem;
  color: #fee7aa;
}

.button {
  position: relative;
  font-family: 'Avenir Light', sans-serif;
  font-size: medium;
  background-color: #A3956D !important;
  border-color: #7d7c7c !important;
}

.button-logo {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 40px;
  margin-top: -5px;
}

.ticket-link {
  color: rgb(163, 149, 109);
  text-decoration: underline;
}
.ticket-link:hover {
  color: #4D4D4D;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .hide-hr {
    display: none;
  }
}


